tools/scripts/crawler.config.ini
tools/scripts/crawler/account.session
tools/scripts/crawler/data/
tools/scripts/crawler/result/
tools/scripts/crawler/result_bak/
tools/scripts/crawler_data_processor/data/
tools/scripts/crawler_data_processor/output/
temp
.vscode
